body {
    background: white;
    font-family: sans-serif;
    margin: 0px;
}

.header {
    color: white;
text-align: center;
    background-color: #333;
padding: 10px 0px 30px 0px;

}

.header__link{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
}
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 8px;

}

.to-dos__input {
    border-radius: 5px;
    padding: 8px;
    border: 1px solid lightgray;
    margin-top: 10px;
}
.to-do__submit-button{
    color: white;
    background: #4CAF50;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    padding: 8px 16px;
}
.to-dos__label{
margin-left: 5px;
}

ul{
    list-style: none;
    padding-left: 0px;
}

.to-dos__list-item {
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.to-dos__delete-button{
    color: white;
    border-radius: 5px;
    background: rgb(255 92 92);
    border: none;
    padding: 4px 8px;

}